table {
	width: 50%; 
	border-collapse: collapse;
	font-size: 18px;
	text-align: center;
}
th {
	color: #ffffff; 
	font-weight: bold;
	background: #00bf80;
	height: 40px;
	border: 5px solid #01ab73;
}
td {
	border: 5px solid #e8e9eb;
	height: 40px;
}
tr:nth-child(2n) {
	background: #f4f4f4;
}
tr:hover {
	background: #ebffe8;
}
table input {
  width: 120px;
  height: 20px;
  font-size: 16px;
}

/*переделать дизайн полностью, кнопки и названия.*/