.wrapper {
	text-align: center;
}


button {
	border: none;
	color: #fff;
	cursor: pointer;
}

#addingForm {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
}

#addingForm input {
	padding: 10px;
}

#add {
	font-weight: bold;
	padding: 11px 30px !important;
	color: #fff;
	background: #56edfb;
  	border: none;
  	cursor: pointer;	
}

#deleteAll {
	padding: 11px 12px;
	background: #fd0036;
}

#editTH {
	width: 80px;
	padding-right: 30px;
}

#delTH {
	width: 60px;
}

#del {
	padding: 11px 20px;
	background-color: #fd0036;
}

#edit {
	padding: 11px 30px;
	background-color: #56edfb;
}

#save {
	padding: 11px 30px;
	background-color: #53ea56;
}

table {
	width: 50%; 
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;

}

table input {
 	width: 120px;
  	height: 30px;
  	font-size: 16px;
  	text-align: center;
  	border: 2px solid #53ea56;
}

tr th {
	color: #ffffff; 
	font-weight: bold;
	background-color: #4184c6;
	height: 60px;
}

tr {
	height: 50px;
}

tr:nth-child(2n+1) {
	background: #e1e3e4;
}